<div class="container-fluid p-5">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="p-4">Ciudades</mat-card-title>
        <mat-card-subtitle>Aquí podrás consultar tus ciudades</mat-card-subtitle>
        <button mat-flat-button (click)="onCreateOrUpdate()">Crear</button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej: 01, Cundinamarca, Bogotá..." #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="data-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let item">{{ item.id }}</td>
        </ng-container>
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let item">{{ item.code }}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let item">{{ item.name }}</td>
        </ng-container>
        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef> Departamento </th>
          <td mat-cell *matCellDef="let item">{{ item.department.name }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let item">
            <button mat-stroked-button (click)="onCreateOrUpdate(item)">Editar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <mat-paginator #paginator
                     [length]="totalItems"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[5,10]"
                     (page)="onPageChange($event)"
      ></mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>
